################################################################################
#                       👇 REQUIRED ENVIRONMENT VARIABLES 👇                   #
################################################################################

# The base URL of the REST API
REST_API_URL=https://api.themoviedb.org/3

# The API key for the REST API
REST_API_KEY=